@font-face{
    font-family: "shrikhand";
    src: url(Shrikhand-Regular.ttf)
}

@font-face {
    font-family: "garamond";
    src: url(EBGaramond-VariableFont_wght.ttf)
}

*{
    box-sizing: border-box;
    margin: 0 ;
}

header{
    background-color: white;
}
h1,h2{
  
   font-family:"shrikhand";
   
   color:white;

   display: flex;
   justify-content: center; 
}


.head2{
    display: flex;
    justify-content: center;
}

p{
    font-family: "garamond";
    color: white;
    font-size: 20px;
}
body{
    background-color: rgba(0, 28, 89, 1);
}
#img_meem{
width: 20%;
}

#preview1{
    border: solid;
    border-color: white;
   background-color: black; 
   width:28%;
   padding-top: 2em;
}

#preview2{
    display: flex;
    flex-direction: column;
   align-items:flex-end;
    
}
#zen-pic{
    display: flex;
    align-items:none;
    justify-content: center;
}

#pre-zen{
    width: 20%;
    
}

#pre-butt{
    padding-left: 1.5em;
    padding-top: 2em;
    padding-bottom: 2em;
}

#button{
    padding: .5em;
   background-color: rgb(255, 255, 255);
}


.whocares{
    border: solid;
    border-color: white;
   background-color: black; 
   padding-top: 2em;
}

#Jurassic{
 margin-left: 1.5em;
 text-align: center;
width:90%
}

#preview3{
  
}