@font-face {
    font-family: "shrikhand";
    src: url(Shrikhand-Regular.ttf)
}

@font-face {
    font-family: "garamond";
    src: url(EBGaramond-VariableFont_wght.ttf)
}

* {
    box-sizing: border-box;
    margin: 0;
}


a {
    text-decoration: none;
    color: #000000;
}

header {
    background-color: white;
}

h1,
h2 {
    font-family: "shrikhand";
    color: white;
    display: flex;
    justify-content: center;
}

#begin-text {
    margin-left: 512.8px;
    margin-bottom: 4em;
    margin-top: 4em;
    width: 50%;

}

.about-text2{
    display: flex;
    justify-content: center;
    margin-bottom: 4em;
}

.about-text{
    max-width: 70%;
}

.head2 {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 48px;
}



a:hover {
    color: #535353;
}

a:active {
    color: #575757;
}


p {
    font-family: "garamond";
    color: white;
    font-size: 24px;
}

body {
    background-color: rgba(0, 28, 89, 1);
}

.ahead {
    display: flex;
    justify-content: space-around;
    color: black;
    padding: 1em;
    font-size: 1.5em;
}

#img_meem {
  width: 95%;
}

#img_me{
    display: flex;
    justify-content: center;
    background-color:  black;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    width:50%; 
    margin-bottom: 2em;
}

.img_you{
    display: flex;
    justify-content: center;
}

.move{
   display: flex; 
   flex-direction: row;
   justify-content: space-around;
}

.hobby-text{
    max-width: 40%;
    margin-top: 2em;
    margin-bottom: 2em;
}

.preview {
    border: solid;
    border-color: white;
    background-color: black;
    width: 28%;
    padding-top: 2em;
}

.preview-column{
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.preview-left{
    align-self: flex-start;
    margin-left: 7em;
}

.preview-right{
    align-self: flex-end;
    margin-right: 7em;
}


#zen-pic {
    display: flex;
    justify-content: center;
}

#pre-zen {
    width: 20%;

}

#pre-butt {

    padding-left: 1.5em;
    padding-top: 2em;
    padding-bottom: 2em;
}

#button {
    text-decoration: none;
    padding: .5em;
    background-color: rgb(255, 255, 255);
}


.whocares {
    border: solid;
    border-color: white;
    background-color: black;
    padding-top: 2em;
}

#Jurassic {
    margin-left: 1.5em;
    text-align: center;
    width: 90%
}

.thanks{
    margin-top: 4em;
    margin-bottom: 6em;
    max-width: 60%;
}

.thanks-again{
    display: flex;
    justify-content: center; 
}

.con{
    border: solid;
    border-color: white;
    background-color: black;
    width: 70%;
    padding-top: 2em;
    font-size: 24px;

}

.con2{
    display: flex;
    justify-content: center;
    margin-top: 4em;
    margin-bottom: 4em;
    
}

.con3{
    border: rgb(68, 67, 67) solid; 

}

.text-fix{
   margin-top: 1.5em;
   margin-left: 4em;
}

.white{
    color: white;
}

.view {
   
    border: solid;
    border-color: white;
    background-color: black;
    width: 40%;
    padding-top: 2em;
}

.view-row{
    display: flex;
    flex-direction: row; 
    margin-top: 5em; 
}

.views{
    width: 100%;
}

.res{
  color: rgb(8, 255, 255);
}

.resu{
    display: flex;
    justify-content: center;
    
}

@keyframes rotating{
100%{rotate: 300deg;}
}
@keyframes wave{
    50% {rotate: -30deg;}
    100% {rotate: 0deg;}
}
.ani{
    border:black solid;
    border-width: .5em;
    width: 10%;
   margin-left:-1em;
    margin-top: 3em;
    height: 0;
    animation-name: wave ;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.circle{
    border: black solid;
    border-width: .5em;
    width: 10%;
    border-radius: 100%;
}

.body{
    border: black solid;
    border-width: .5em;
    width: 0%;
margin-left: 6em;
}



.row{
    display: flex;
    flex-direction: row;
    margin-left: .7em;
}

.row2{
    display: flex;
    flex-direction: row;
}

.leg{
    border: black solid;
    border-width: .5em;
    width: 0%;
    height: 510%;
margin-left: 2em;

rotate: 45deg;

}

.leg2{
    border: black solid;
    border-width: .5em;
    width: 0%;
    height: 510%;
margin-left: 5.5em;

rotate: -45deg;
}